body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333A73;
  padding: 10px 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-container {
  background-color: white; 
  padding: 5px;
  border-radius: 50%; 
 
}

.logo img {
  width: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
 
  position: relative; 
}

.nav-item {
  text-decoration: none;
  color: #fff;
  padding-left: 45px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: #FFD700; 
}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: transparent;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 95%;
  margin-left: 25px;
  background: #FFD700;
}

.dropdown-btn {
  display: none; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333A73;
  min-width: 160px;
  z-index: 1;
}


.nav-item:hover .dropdown-content {
  display: block;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  padding-left: 45px;
  transition: all 0.3s ease;
}



@media screen and (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333A73;
    width: 100%;
    z-index: 1;
  }

  .nav-links li {
    text-align: center;
    padding: 10px;
   margin-left:180px;
   

  }

  .dropdown-btn {
    display: block; 
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
  }

  .dropdown-btn:hover {
    color: #FFD700;
  }

  .navbar {
    position: relative;
  }


  .nav-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 2.5px;
    background: transparent;
    transition:width 0.3s ease;
  }
  

  .logo img {
    width: 25px;
    
    height: 25px;
  }
  
  .logo-container {
    background-color: white; 
    padding: 5px;
    border-radius: 50%; 
    width: 25px;
    height: 25px;
   
  }
  .nav-item {
    text-decoration: none;
    color: #fff;
    padding-left: 0px;
    transition: all 0.3s ease;
  }

  .show {
    display: block; 
  }
}
